#pinecone-client
#langchain-pinecone
#langchain-cohere
#langchain
#PyPDF2
#pyaudio
#numpy
#requests
#python-dotenv
#rich
#groq
#deepgram-sdk




streamlit==1.33.0
PyPDF2==3.0.1
langchain==0.1.16
langchain-community==0.0.34
pinecone-client==3.2.2
cohere==4.41
groq==0.3.0
python-dotenv==1.0.1
deepgram-sdk==3.2.0
rich==13.7.1
numpy==1.26.4
requests==2.31.0
langchain-pinecone==0.0.1
sounddevice  
